.business-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #ececec, #fbfbf4);
  padding: 1rem 2rem;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-link {
  color: white;
  margin: 0 1rem;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease, transform 0.2s ease;
}

.nav-link:hover {
  color: #ffd369;
  transform: translateY(-2px);
}

.nav-left,
.nav-center,
.nav-right {
  display: flex;
  align-items: center;
}
